In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/best-file/final_grades.csv
/kaggle/input/breadth-course/breadth_course.json
/kaggle/input/year-wise-grades/yearWiseGrades.json

In [2]:
df= pd.read_csv("/kaggle/input/best-file/final_grades.csv")
df['course'].nunique()

1864

In [3]:
df['course'].size

3447

In [4]:
df

,course,EX,A,B,C,D,P,F,session
0,CE13001-ENGINEERING DRAWING AND COMPUTER GRAPH...,50,76,153,95,47,27,1,Autumn 18
1,CS10001-PROGRAMMING AND DATA STRUCTURES,54,57,70,71,108,88,1,Autumn 18
2,CS19101-PROGRAMMING AND DATA STRUCTURES TUTORI...,71,83,119,96,56,22,1,Autumn 18
3,EA10001-EXTRA ACADEMIC ACTIVITY-I,73,287,218,117,132,85,3,Autumn 18
4,EA10005-INDUCTION PROGRAM,0,0,0,0,0,0,0,Autumn 18
...,...,...,...,...,...,...,...,...,...
3442,PH58044-COMPREHENSIVE VIVA VOCE-I,2,13,16,11,7,2,0,Spring 22
3443,PH49009-CONDENSED MATTER PHYSICS LAB-I,13,30,7,0,1,0,0,Autumn 22
3444,PH49025-PROJECT PART I,7,16,20,5,3,0,0,Autumn 22
3445,PH58045-SEMINAR,23,28,0,0,0,0,0,Autumn 22
3446,PH60116-,3,1,1,0,0,0,0,Autumn 22

In [5]:
df[['Semester', 'Year']] = df['session'].str.split(' ', expand=True)
# df[['code', 'name']] = df['course'].str.split('-', expand=True)
df

,course,EX,A,B,C,D,P,F,session,Semester,Year
0,CE13001-ENGINEERING DRAWING AND COMPUTER GRAPH...,50,76,153,95,47,27,1,Autumn 18,Autumn,18
1,CS10001-PROGRAMMING AND DATA STRUCTURES,54,57,70,71,108,88,1,Autumn 18,Autumn,18
2,CS19101-PROGRAMMING AND DATA STRUCTURES TUTORI...,71,83,119,96,56,22,1,Autumn 18,Autumn,18
3,EA10001-EXTRA ACADEMIC ACTIVITY-I,73,287,218,117,132,85,3,Autumn 18,Autumn,18
4,EA10005-INDUCTION PROGRAM,0,0,0,0,0,0,0,Autumn 18,Autumn,18
...,...,...,...,...,...,...,...,...,...,...,...
3442,PH58044-COMPREHENSIVE VIVA VOCE-I,2,13,16,11,7,2,0,Spring 22,Spring,22
3443,PH49009-CONDENSED MATTER PHYSICS LAB-I,13,30,7,0,1,0,0,Autumn 22,Autumn,22
3444,PH49025-PROJECT PART I,7,16,20,5,3,0,0,Autumn 22,Autumn,22
3445,PH58045-SEMINAR,23,28,0,0,0,0,0,Autumn 22,Autumn,22
3446,PH60116-,3,1,1,0,0,0,0,Autumn 22,Autumn,22

In [6]:
df[['Course Code', 'Course Name']] = df['course'].str.split('-',n= 1, expand=True)

In [7]:
df.drop(['course','session'],axis =1 ,inplace =True)

In [8]:
df

,EX,A,B,C,D,P,F,Semester,Year,Course Code,Course Name
0,50,76,153,95,47,27,1,Autumn,18,CE13001,ENGINEERING DRAWING AND COMPUTER GRAPHICS
1,54,57,70,71,108,88,1,Autumn,18,CS10001,PROGRAMMING AND DATA STRUCTURES
2,71,83,119,96,56,22,1,Autumn,18,CS19101,PROGRAMMING AND DATA STRUCTURES TUTORIAL AND L...
3,73,287,218,117,132,85,3,Autumn,18,EA10001,EXTRA ACADEMIC ACTIVITY-I
4,0,0,0,0,0,0,0,Autumn,18,EA10005,INDUCTION PROGRAM
...,...,...,...,...,...,...,...,...,...,...,...
3442,2,13,16,11,7,2,0,Spring,22,PH58044,COMPREHENSIVE VIVA VOCE-I
3443,13,30,7,0,1,0,0,Autumn,22,PH49009,CONDENSED MATTER PHYSICS LAB-I
3444,7,16,20,5,3,0,0,Autumn,22,PH49025,PROJECT PART I
3445,23,28,0,0,0,0,0,Autumn,22,PH58045,SEMINAR
3446,3,1,1,0,0,0,0,Autumn,22,PH60116,

In [10]:
breadth = pd.read_json("/kaggle/input/breadth-course/breadth_course.json")
breadth= breadth.transpose()
breadth=breadth[['name','prereq','L-T-P','id']]

In [11]:
def extract_prerequisites(prereq_list):
    if isinstance(prereq_list, str):
        return prereq_list.strip('[]').split(', ') 
    else:
        return prereq_list  
breadth['Prerequisites_List'] = breadth['prereq'].apply(extract_prerequisites)

In [12]:
breadth.head()

,name,prereq,L-T-P,id,Prerequisites_List
HS30040,"INDIAN SOCIETY, LITERATURE AND CULTURE","[ , , ]",3-0-0,HS30040,"[ , , ]"
CH62046,MANUFACTURING & CHARACTERISATION OF POLYMER MA...,"[ , , ]",3-1-0,CH62046,"[ , , ]"
HS30045,SPEAKING AND PRESENTATION,"[ , , ]",3-0-0,HS30045,"[ , , ]"
HS30047,FRENCH,"[ , , ]",3-0-0,HS30047,"[ , , ]"
HS30048,GERMAN,"[ , , ]",3-0-0,HS30048,"[ , , ]"

In [13]:
breadth.columns

Index(['name', 'prereq', 'L-T-P', 'id', 'Prerequisites_List'], dtype='object')

In [14]:
breadth['L-T-P'] = breadth['L-T-P'].str.split('-').apply(lambda x: sum(map(int, x)))

In [15]:
breadth.drop(['id','prereq'],axis=1,inplace =True)
breadth

,name,L-T-P,Prerequisites_List
HS30040,"INDIAN SOCIETY, LITERATURE AND CULTURE",3,"[ , , ]"
CH62046,MANUFACTURING & CHARACTERISATION OF POLYMER MA...,4,"[ , , ]"
HS30045,SPEAKING AND PRESENTATION,3,"[ , , ]"
HS30047,FRENCH,3,"[ , , ]"
HS30048,GERMAN,3,"[ , , ]"
...,...,...,...
MI40005,NATURAL GAS ENGINEERING,3,"[ , , ]"
CR61026,SPINTRONIC MATERIALS AND DEVICES,3,"[ , , ]"
CR61028,HYDROGEN TECHNOLOGY,3,"[ , , ]"
ET61002,LANGUAGE PROCESSING FOR E-LEARNING,4,"[ , , ]"
CH62028,PROJECT ENGINEERING AND MANAGEMENT,3,"[ , , ]"

In [16]:
breadth.reset_index(inplace=True)
breadth.rename(columns={'index': 'Course Code'}, inplace=True)

In [17]:
breadth

,Course Code,name,L-T-P,Prerequisites_List
0,HS30040,"INDIAN SOCIETY, LITERATURE AND CULTURE",3,"[ , , ]"
1,CH62046,MANUFACTURING & CHARACTERISATION OF POLYMER MA...,4,"[ , , ]"
2,HS30045,SPEAKING AND PRESENTATION,3,"[ , , ]"
3,HS30047,FRENCH,3,"[ , , ]"
4,HS30048,GERMAN,3,"[ , , ]"
...,...,...,...,...
98,MI40005,NATURAL GAS ENGINEERING,3,"[ , , ]"
99,CR61026,SPINTRONIC MATERIALS AND DEVICES,3,"[ , , ]"
100,CR61028,HYDROGEN TECHNOLOGY,3,"[ , , ]"
101,ET61002,LANGUAGE PROCESSING FOR E-LEARNING,4,"[ , , ]"
102,CH62028,PROJECT ENGINEERING AND MANAGEMENT,3,"[ , , ]"

In [18]:
df

,EX,A,B,C,D,P,F,Semester,Year,Course Code,Course Name
0,50,76,153,95,47,27,1,Autumn,18,CE13001,ENGINEERING DRAWING AND COMPUTER GRAPHICS
1,54,57,70,71,108,88,1,Autumn,18,CS10001,PROGRAMMING AND DATA STRUCTURES
2,71,83,119,96,56,22,1,Autumn,18,CS19101,PROGRAMMING AND DATA STRUCTURES TUTORIAL AND L...
3,73,287,218,117,132,85,3,Autumn,18,EA10001,EXTRA ACADEMIC ACTIVITY-I
4,0,0,0,0,0,0,0,Autumn,18,EA10005,INDUCTION PROGRAM
...,...,...,...,...,...,...,...,...,...,...,...
3442,2,13,16,11,7,2,0,Spring,22,PH58044,COMPREHENSIVE VIVA VOCE-I
3443,13,30,7,0,1,0,0,Autumn,22,PH49009,CONDENSED MATTER PHYSICS LAB-I
3444,7,16,20,5,3,0,0,Autumn,22,PH49025,PROJECT PART I
3445,23,28,0,0,0,0,0,Autumn,22,PH58045,SEMINAR
3446,3,1,1,0,0,0,0,Autumn,22,PH60116,

In [20]:
common_courses= df.merge(breadth, on='Course Code', how='inner')
final_df=common_courses.drop(['Course Name'],axis=1)

In [21]:
final_df

,EX,A,B,C,D,P,F,Semester,Year,Course Code,name,L-T-P,Prerequisites_List
0,0,0,0,4,0,0,0,Spring,20,HS30073,ENVIRONMENTAL SOCIOLOGY,3,"[ , , ]"
1,4,12,14,16,10,2,0,Spring,22,EP60004,MANUFACTURING MANAGEMENT,3,"[ , , ]"
2,14,38,30,4,0,0,0,Spring,22,ET60006,AUDIO SYSTEMS ENGINEERING,3,"[ , , ]"
3,3,3,13,6,2,0,0,Spring,20,HS20002,GENERAL PSYCHOLOGY,4,"[ , , ]"
4,9,9,3,2,1,0,0,Spring,20,HS30048,GERMAN,3,"[ , , ]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,2,2,0,0,0,0,1,Spring,22,MA41108,STATISTICAL INFERENCE,4,"[MA20104, MA20106, ]"
184,0,0,0,0,0,1,0,Autumn,21,CY61044,MOLECULAR SPECTROSCOPY & MOLECULAR STRUCTURE,4,"[CY41003, CY41011, ]"
185,0,1,0,0,0,0,0,Autumn,21,CY61050,METAL COMPLEXES IN CATALYSIS & MATERIAL SCIENCE,3,"[ , , ]"
186,0,0,0,1,0,0,0,Autumn,21,CY71002,STRUCTURE ANALYSIS BY SPECTROSCOPIC & CRYSTALL...,4,"[ , , ]"
187,17,14,6,0,0,0,0,Spring,22,MA41006,COMPLEX ANALYSIS,4,"[ , , ]"

In [22]:
final_df['Department Code'] = final_df['Course Code'].str.extract(r'([A-Za-z]+)')
final_df['Course Number'] = final_df['Course Code'].str.extract(r'(\d+)')

In [25]:
final_df.drop(['Course Code'],axis=1,inplace=True)

In [37]:
final_df

,EX,A,B,C,D,P,F,Semester,Year,name,L-T-P,Prerequisites_List,Department Code,Course Number
0,0,0,0,4,0,0,0,Spring,20,ENVIRONMENTAL SOCIOLOGY,3,"[ , , ]",HS,30073
1,4,12,14,16,10,2,0,Spring,22,MANUFACTURING MANAGEMENT,3,"[ , , ]",EP,60004
2,14,38,30,4,0,0,0,Spring,22,AUDIO SYSTEMS ENGINEERING,3,"[ , , ]",ET,60006
3,3,3,13,6,2,0,0,Spring,20,GENERAL PSYCHOLOGY,4,"[ , , ]",HS,20002
4,9,9,3,2,1,0,0,Spring,20,GERMAN,3,"[ , , ]",HS,30048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,2,2,0,0,0,0,1,Spring,22,STATISTICAL INFERENCE,4,"[MA20104, MA20106, ]",MA,41108
184,0,0,0,0,0,1,0,Autumn,21,MOLECULAR SPECTROSCOPY & MOLECULAR STRUCTURE,4,"[CY41003, CY41011, ]",CY,61044
185,0,1,0,0,0,0,0,Autumn,21,METAL COMPLEXES IN CATALYSIS & MATERIAL SCIENCE,3,"[ , , ]",CY,61050
186,0,0,0,1,0,0,0,Autumn,21,STRUCTURE ANALYSIS BY SPECTROSCOPIC & CRYSTALL...,4,"[ , , ]",CY,71002
187,17,14,6,0,0,0,0,Spring,22,COMPLEX ANALYSIS,4,"[ , , ]",MA,41006

In [48]:
final_df.to_csv('almost_done_df')

In [39]:
final_df['Year'].nunique()

4

In [44]:
final_df['Prerequisites_List'] = final_df['Prerequisites_List'].apply(lambda x: [] if pd.isna(x).any() else x)

prerequisites_matrix = pd.get_dummies(final_df['Prerequisites_List'].apply(pd.Series).stack()).sum()
prerequisites_matrix

           546
CH30012      1
CH31010      1
CH62009      1
CY41003      2
CY41011      2
IM21003      1
MA20103      1
MA20104      3
MA20106      1
MA30003      1
MA31005      2
MA41009      2
dtype: int64

In [49]:
final_df.drop(['Prerequisites_List'],axis=1,inplace=True)
final_df

,EX,A,B,C,D,P,F,Semester,Year,name,L-T-P,Department Code,Course Number
0,0,0,0,4,0,0,0,Spring,20,ENVIRONMENTAL SOCIOLOGY,3,HS,30073
1,4,12,14,16,10,2,0,Spring,22,MANUFACTURING MANAGEMENT,3,EP,60004
2,14,38,30,4,0,0,0,Spring,22,AUDIO SYSTEMS ENGINEERING,3,ET,60006
3,3,3,13,6,2,0,0,Spring,20,GENERAL PSYCHOLOGY,4,HS,20002
4,9,9,3,2,1,0,0,Spring,20,GERMAN,3,HS,30048
...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,2,2,0,0,0,0,1,Spring,22,STATISTICAL INFERENCE,4,MA,41108
184,0,0,0,0,0,1,0,Autumn,21,MOLECULAR SPECTROSCOPY & MOLECULAR STRUCTURE,4,CY,61044
185,0,1,0,0,0,0,0,Autumn,21,METAL COMPLEXES IN CATALYSIS & MATERIAL SCIENCE,3,CY,61050
186,0,0,0,1,0,0,0,Autumn,21,STRUCTURE ANALYSIS BY SPECTROSCOPIC & CRYSTALL...,4,CY,71002
187,17,14,6,0,0,0,0,Spring,22,COMPLEX ANALYSIS,4,MA,41006

In [ ]:
final_df.drop(['Prerequisites_List'],axis=1,inplace=True)
final_df